.login, .register {
    display: flex;
    flex-direction: column;
    align-self: center;
    // width: 30%;
    max-width: 50;
    min-width: 30%;
    // gap: 2rem;

    @include tablet {
        width: 50%;
    }

    @include mobile {
        width: 100%;
    }

    &__card {
        display: flex;
        flex-direction: column;
        // gap: 1rem;
        width: 100%;

        .card__form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}

.auth__footer {
    text-align: center;
    margin-top: 0.5rem;
}

.auth__link {
    color: $secondary;
    text-decoration: none;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}