// .drive-item {
//     display: flex;
//     justify-content: space-between;
//     align-items: stretch;
//     gap: 2rem;
//     padding: 1.5rem 2rem;
//     background-color: $background;

//     transition: background-color 0.2s ease;

//     &:hover {
//         background-color: $background-darker;
//     }

//     &__link {
//         text-decoration: none;
//         width: 100%;
//     }

//     &__left {
//         display: flex;
//         flex-direction: column;
//         gap: 0.8rem;
//         flex: 2;
//     }

//     &__right {
//         display: flex;
//         align-items: center;
//         justify-content: flex-end;
//         flex-direction: row !important;
//         gap: 2rem;
//         flex: 1;
//     }

//     &__row {
//         display: flex;
//         align-items: center;
//         gap: 0.5rem;
//     }

//     &__icon {
//         color: $primary;
//         flex-shrink: 0;
//     }

//     &__tag {
//         background-color: rgba($secondary, 0.2);
//         color: $secondary;
//         font-size: 0.85rem;
//         padding: 0.15rem 0.5rem;
//         border-radius: 0.5rem;
//         margin-left: 0.5rem
//     }

//     &__info {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;

//         &-top {
//             display: flex;
//             align-items: center;
//             gap: 0.3rem;
//         }

//         &-bottom {
//             margin-top: 0.25rem;
//         }
//     }

//     @include tablet {
//         flex-direction: column;
//         align-items: flex-start;
//         gap: 1rem;

//         &__right {
//             width: 100%;
//             justify-content: space-between;
//         }
//     }

//     @include mobile {
//         flex-direction: column;
//         align-items: stretch;

//         &__right {
//             flex-direction: column;
//             gap: 1rem;;
//             width: 100%;

//             .button { 
//                 width: 100%;
//             }
//         }
//     }
// }

// .drive-item-list {
//     display: flex;
//     flex-direction: column;
//     gap: 1.5rem;
// }

.drive-item {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover .drive-item__card {
        background-color: $background-darker;
    }
}

.drive-item__card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1.5rem 2rem;
    background-color: $background;
    // border: 1px solid $border-color;
    // border
    transition: background-color 0.2s ease;

    @include tablet {
        flex-direction: column;
        gap: 1rem;
    }

    @include mobile {
        flex-direction: column;
    }
}

.drive-item__left {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex: 2;
}

.drive-item__right {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    flex: 1;

    @include tablet {
        width: 100%;
        justify-content: space-between;
    }

    @include mobile {
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .button {
            width: 100%;
        }
    }
}

.drive-item__row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.drive-item__icon {
    color: $primary;
    flex-shrink: 0;
}

.drive-item__tag {
    background-color: rgba($secondary, 0.2);
    color: $secondary;
    font-size: 0.85rem;
    padding: 0.15rem 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

.drive-item__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-top {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    &-bottom {
        margin-top: 0.25rem;
    }
}

.drive-item-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}