.switch {
    width: 45px;
    height: 22px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;

    &--off {
        background-color: $border-color;
    }

    &--on {
        background-color: $primary;
    }

    &__thumb {
        position: absolute;
        width: 18px;
        height: 18px;
        background: $background;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        transition: transform 0.2s ease;
    }

    &--on
    &__thumb {
        transform: translateX(23px);
    }
}